[user]
	name = Rodrigo Chacon
	email = rochacon@gmail.com

[color]
	ui = on

[alias]
	sync = "!f() { git checkout $1 && git pull origin $1 && git checkout - ; }; f"
	current-branch = "!f() { git rev-parse --abbrev-ref HEAD; }; f"

[push]
	default = upstream
